*{
    margin-left: 1000;
    
}
.whole {
    align-items: center;
    border: 2px solid #ccc;
    padding: 10px;
    width: 20em;
     margin-left: 800px;
     background: url("/my-app5/src/assets/Images/gryffindor_flag.png");

  }
.character-image{
    height:227px;
     width:163px;
     color: rgba(0, 0, 0, 0.87);
     border-radius: 50%;
     font-family: 'Harry Potter',Brush Script MT, Brush Script Std, cursive;
     font-size: 30px;
}
.Male{
    height:227px;
     width:163px;
     color: rgba(0, 0, 0, 0.87);
     border-radius: 50%;
     font-family: 'Harry Potter',Brush Script MT, Brush Script Std, cursive;
}.Female{
    height:227px;
     width:163px;
     color: rgba(0, 0, 0, 0.87);
     border-radius: 50%;
     font-family: 'Harry Potter',Brush Script MT, Brush Script Std, cursive;
}
/* .whole{
    font-family: Arial, Helvetica, sans-serif;
} */
.details{
    
    padding-top: 150‒px;
    padding-top: 10px;
    font-size: 22px;
    background: url("/my-app5/src/assets/Images/gryffindor_flag.png");
    background-color:palegreen;

}

