/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    background-image: url('ani.jpg');
}

h1 {
    color: black;
    font-family: 'Harry Potter', Arial, Helvetica, sans-serif;
    /* font-family: Able, Roman,Felt Tip,Harry P ; */
    font-size: 250%;
    text-align: center;
  }