/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    /* background-image: url('ani.jpg'); */
    background: url('./assets/video/206646.gif') no-repeat;
     background-size: cover;
     color: rgb(15, 148, 209);
    font-family: 'Harry Potter', Arial, Helvetica, sans-serif;
    text-align: center;
     
}

h1 {
    color: rgb(15, 148, 209);
    font-family: 'Harry Potter', Arial, Helvetica, sans-serif;
    /* font-family: Able, Roman,Felt Tip,Harry P ; */
    font-size: 250%;
    text-align: center;
  }