<!-- <p>wizard-list works!</p>
<P>{{data_of_single_wizard | json}}</P>
<P>{{data_of_single_wizard | json}}</P>
<P>{{data_of_single_wizard | json}}</P> -->


<div class="grid-container row">
    <div class="grid-item col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let x of data">
        <p>
        <img class="character-image"  [src]="x.image"><br>
        
        <button>
         Name:{{ x.name  }} <br>
         Species:{{ x.species }} <br>
        </button> 
        
        </p>
    </div>
    </div>

